# Database
DATABASE_URL="mysql://root:Nihith&*3003@localhost:3306/auth"

# JWT
JWT_SECRET="rE7$u2!fGp@9Z^bLtW%qM#xV6*KydJ3p"
JWT_EXPIRES_IN="1h"

# Server
PORT=3000
NODE_ENV="development"

# Security
BCRYPT_ROUNDS=12 